	@import url(resources.less);

/* - - - - [ GLOBAL ] - - - - - - - - - - - - - - - - - - - - - - - - - -*/
	body{
		background: @color-background-body;
		color: @color-text;
	}
	[draggable] {
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		user-select: none;
	}

/* - - - - [ HEADER / MENU ] - - - - - - - - - - - - - - - - - - - - - - - - - -*/
	body > header{
		background: @color-background-header;
		border-bottom-color: @color-border-header;
		a{
			color: @color-footer-link;
		}
	}


/* - - - - [ FOOTER ] - - - - - - - - - - - - - - - - - - - - - - - - - -*/
	body > footer{
		background: @color-background-footer;
		border-top-color: @color-border-footer;
		nav{
			color: @color-footer-text;
			a{
				color: @color-footer-link;
			}
		}
	}



/* - - - - [ WRAPPER ] - - - - - - - - - - - - - - - - - - - - - - - - - -*/

	div.music-wrapper{
		max-width: 960px;
		margin: 0 auto;
	}













